$body-font-family: 'Cormorant SC', serif;

@media only screen and (max-width: 959px) {
    
    .v-stepper:not(.v-stepper--vertical) .v-stepper__label {
        display: inline;
    }

}

@media only screen and (max-width: 37.5em) {
    
    html {
        font-size: 60%;
    }

}